

.multi-dropdown {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    position: relative;

    ul {
        height: 40px;
        width: 250px;
        border: 1px black;
        border-radius: 3px;
        padding-left: 0px;

        li:not(.init).header {
            padding-left: 10px !important;
        }

        li {
            padding: 5px 10px !important;
            z-index: 2;

            &:not(.init) {
                float: left;
                width: 100%;
                background: white;
                position: relative;
                top: 1px;
                border-left: 1px solid gray;
                border-right: 1px solid gray;
                padding-left: 20px !important;

                &:nth-last-child(1) {
                    border-bottom: 1px solid gray;
                }
            }

            &.init {
                cursor: pointer;
            }
        }

        li:not(.init):hover, ul li.selected:not(.init) {
            background: yellow;
            cursor: pointer;
        }
    }

    span.init {
        display: block;
        padding: 10px;
        cursor: pointer;

        &::after {
            font-family: FontAwesome;
            content: '\f0d7';
            position: absolute;
            right: 16px;
            top: auto;
            bottom: auto;
            pointer-events: none;
        }
    }

    a#submit {
        z-index: 1;
    }

    .header {
        color: $ey-black;
        font-weight: 600;
        font-size: 15px;

        &:hover {
            background: $ey-white !important;
            cursor: default !important;
        }
    }

    .list-unstyled {
        list-style-type: none;
        z-index: 100;
        background: white;
        border: none;
    }
}
