          <div class="d-inline-block">
                                        <multiHeader-dropdown 
                                                                 [source]="BULK_UPLOAD_LABELS?.BULK_ACTIONS"
                                                                 (selectedValueChanged)="bulkActionOnChange($event)"
                                                                 [placeHolder]="BULK_UPLOAD_LABELS?.BULK_ACTION_LABEL"
                                                                 height="334px">
                                        </multiHeader-dropdown>
                                    </div>